<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<!--<listener class-name="Util.Listener"/> -->
		<listener class-name="Util.Transformer"/>
		<listener class-name="Util.ReportListener"></listener>
	</listeners> 
  <test thread-count="5" name="Test">
    <classes>
      <class name="SauceLabs.BaseTest"/>
      <class name="SauceLabs.CheckLogin"/>
      <class name="SauceLabs.AddProductFunctionality"/>
      <class name="SauceLabs.CartFunctionality"/>
      <class name="SauceLabs.CheckOutFunctionality"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
